#App {
  display: table;
  height: 100vh;
  width: 100vw;
}
#temperatureContainer {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  min-width: 350px;
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial;
  font-size: 2rem;
}

#App > #temperatureContainer > #weatherImg {
  width: 12rem;
  height: 12rem;
}

#App > #temperatureContainer > #temperature {
  font-size: 4rem;
  margin: 0;
}

#App > #temperatureContainer > #cityName {
  margin: 0;
}

@media (max-width: 500px) {
  #App {
    margin: auto auto;
  }
}